<!DOCTYPE html>
<html lang="en">
 
<style>table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
  }
 
</style>
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW_AJARN_NATTEE_NARAK</title>
</head>
<body>
    <h1>Kanbarn yak jang</h1>
 
    <table>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Age</th>
          <th>Score</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Hamtaro</td>
          <td>1.5</td>
          <td>-100</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Hamtaro2</td>
          <td>2.5</td>
          <td>-50</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ajarn Nattee</td>
            <td>25</td>
            <td>1000000</td>
          </tr>
        
      </table>
    <br>
 
    <img src="../../../public/aj.jpg"alt="ajarn tee pom rak tee sud nai lokkkkkkkkkkkkk" height="400px" />
</body>
</html>